.query{
	position: absolute;
	width: 80%;
	height: 1024px;
	top: 20px;
	left: 200px;
	background-color: rgb(250,250,250,0.8);
	border: 1px solid transparent;
}
.page-content .query .referBox{
	width: 50%;
	margin:0 auto;
	padding: 50px;
}
.page-content .query .referBox .ipt{
	font-size: 30px;
	border:none;
	text-align: center;
	border-radius: 10px;
    background-color: rgb(139, 208, 183);
}
.back-btn{
    width: 60px;
    height: 30px;
    margin-right: 10px;
    margin-top: 45px;
    background-color: rgb(68, 93, 83);
    color: rgb(255,255,255);
    border: none;
    float: right;
}
#last_page, #next_page{
    display: block;
    width: 70px;
    height: 30px;
    line-height: 30px;
    background-color: rgb(68, 93, 83);
    color: rgb(255,255,255);
    text-align: center;
}
.page_item{
    width: 30px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    border:2px solid rgb(68, 93, 83);
}
.page-content .query .referBox .btn{
	border: none;
    border-radius: 20px;
    font-size: 20px;
    width: 140px;
    height: 50px;
    margin-left: 160px;
    color: rgb(255, 255, 255);
    background-color: rgb(68, 93, 83);
}
.page-content .res{
	display: none;
    position: absolute;
	width: 80%;
	height: auto;
	top: 220x;
	left: 200px;
	text-align: left;
    line-height: 25px;
    font-size: 16px;
	background-color: rgb(250,250,250,0.8);
}
.page-content .res .resTitle{
	width: 80%;
	height: 80px;
	line-height: 80px;
	font-size: 22px;
	margin: 0 auto;
	border-bottom: 1px solid #999;
}
.page-content .res .resCont{
	width: 80%;
	height: auto;
	font-size: 18px;
}
.page-content .res .resCont table{
    width: 100%;
    height:auto;
    margin:20px 80px;
    border-collapse: collapse;
}
.page-content .res .resCont table td{
    height: 50px;
}
.page-content .res .chaxun{
	width: 80%;
	margin: 30px auto;
}
.page-content .res .chaxun .btn{
	border: none;
    border-radius: 10px;
	font-family: "黑体";
    font-size: 18px;
    width: 150px;
    height: 45px;
    color: rgb(255, 255, 255);
    background-color: rgb(68, 93, 83);
	margin-left: 10px;
}
.chaxun{
	text-align: center;
}
#head{
	font-size: 20px;
}
.contest_list{
    display: table;
    width: 100%;
    margin: 0 auto;
    padding:10px;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
    background-color: transparent;
    line-height: 40px;
    font-size: 0.8rem;
    font-family: 'Open Sans', sans-serif;
}
.contest_list thead{    
    padding: 16px 18px;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #37363e;
}
.contest_list thead,tr,td,th{
     width: 120px;
     border: 1px solid #ddd;
     text-align: center;
}
.pageManager{
     width: auto;
     margin: 0 auto;
     /*font-weight:400;*/
     font-family:inherit;
     padding:10px;
}
.pageCount{
    /* float: left;*/
     height: 30px;
     line-height: 30px;
}
.pageShow{
    /* float: right;*/
     height: 30px;
     line-height: 30px;
     list-style: none;
     display: inline-block;
}
.pageShow li{
     float: left;
     cursor: pointer;
     margin: 0 10px;
}