<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.steins.dao.UserDaoInterface">

    <select id="loginUser" resultType="com.steins.entity.User">
        SELECT * from users where username = #{username} and password = #{password}
    </select>

    <update id="updateUser">
        update users
        <set>
            <if test="username != null">username = #{username},</if>
            <if test="password != null">password = #{password},</if>
            <if test="nickname != null">nickname = #{nickname},</if>
            <if test="rating != null">rating = #{rating},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="tel != null">tel = #{tel}</if>
        </set>
        where id_number = #{idNumber}
    </update>

    <select id="getStudentInfo" resultType="com.steins.entity.User">
        SELECT * from users where id_number = #{idNumber}
    </select>

    <select id="getCompetitionCount" resultType="Integer">
        select count(*) from info_competition where student_id = #{idNumber}
    </select>

    <select id="getExamCount" resultType="Integer">
        select count(*) from info_exam where student_id = #{idNumber}
    </select>

    <select id="getInternshipCount" resultType="Integer">
        select count(*) from info_internship where student_id = #{idNumber}
    </select>

    <select id="getStudentCompetition" resultType="com.steins.entity.Competition">
        select * from info_competition where student_id = #{idNumber} limit #{pageNum},#{pageSize}
    </select>

    <select id="getStudentExam" resultType="com.steins.entity.Exam">
        select * from info_exam where student_id = #{idNumber} limit #{pageNum},#{pageSize}
    </select>

    <select id="getStudentInternship" resultType="com.steins.entity.Internship">
        select * from info_internship where student_id = #{idNumber} limit #{pageNum},#{pageSize}
    </select>

    <select id="getInfoHeaderByIdNumber" resultType="com.steins.entity.InfoHeader">
        select * from info_header where id_number = #{idNumber}
    </select>

<!--    <select id="getInfoHeadById" resultType="com.steins.entity.InfoHeader">-->
<!--        select * from info_header where id_number = #{idNumber}-->
<!--    </select>-->
</mapper>
